@import "_variables";

metronome-frame {
    background-color: $frame-bg;
    border: $frame-border;
    border-radius: 20px;
    width: 12em;
    height: 10.35em;
    padding: 1em;

    &.active {
        border: $frame-border-active;
    }

    &:hover:not(.active):not([disabled]) {
        border: $frame-border-hover;
        cursor: pointer;
    }
}

#frames {
    padding: 2em;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    
    &.small-screen {
        justify-content: left;
    }
    
    .add-frame-wrapper {
        order: 1;
        width: 12em;
        height: 10.35em;
        align-self: stretch;
        text-align: center;

        .add-frame {
            font-size: 4em;
            border: none;
            background-color: transparent;
            color: $control-color;
            width: 100%;
            height: 100%;
            
            border-radius: 20px;
            border: $frame-border;
            
            &:hover {
                cursor: pointer;
                color: $frame-control-bg-hover;
                border: $frame-border-hover;
            }
        }
    }
}
